.custom-next-button,
.custom-prev-button {
  position: absolute;
  font-size: 26px;
  cursor: pointer;
  color: #222;
}

.custom-next-button {
  right: 0px;
}

.custom-prev-button {
  right: 40px;
}

.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}