/* Icon Box */
.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  position: relative;
  border: solid 2px #333;
  background: transparent;
  border-radius: 0%;
}

.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: #333;
  border-radius: 0%;
}

.swiper-pagination-bullet-active {
  border-color: #FF324D;
}

.swiper-pagination-bullet-active::after {
  background: #FF324D;
}

/* End */

